NEURAL_NEXUS_API_BASE_URL=
API_KEY=
ASSISTANT_ID=
MINECRAFT_SERVER_HOST=
MINECRAFT_SERVER_PORT=
MINECRAFT_USERNAME=
MINECRAFT_AUTH=
USER_TIMEZONE=
AMBIENT_CAPTURE_INTERVAL_SECONDS=
IDLE_PLAY_INTERVAL_SECONDS=
VOICE_PLAYBACK=
VOICE_HOST=
JAVA_MEMORY=
